/* You can add global styles to this file, and also import other style files */
@keyframes blinkColor {
   0% { color: hsl(0, 100%, 50%); }
  16% { color: hsl(60, 100%, 50%); }
  33% { color: hsl(120, 100%, 50%); }
  50% { color: hsl(180, 100%, 50%); }
  66% { color: hsl(240, 100%, 50%); }
  83% { color: hsl(300, 100%, 50%); }
  100% { color: hsl(360, 100%, 50%); }
}

.changing-text-color {
  animation: blinkColor 1.5s infinite;
  text-shadow: darkgray 0px 0px 5px; 
}